<h1>Workouts</h1>

<% @workouts.each do |workout| %>
    <div>
        <h2><%= link_to workout.title, workout_path(workout.id) %></h2>
        <h3><%= workout.date %></h3>
        <%= workout.notes %>
    </div>
<% end %>
