<h1>Editing body weight</h1>

<%= render "form", body_weight: @body_weight %>

<br>

<div>
  <%= link_to "Show this body weight", @body_weight %> |
  <%= link_to "Back to body weights", body_weights_path %>
</div>
